.header-type-8 .menu-icon {
       display: flex;
   }
.site-nav>li>a {
    font-size: 14px;
       text-transform: uppercase;
}
.menu-tool .site-nav {
    float: right;
    padding-right: 60px;
}
.header-type-8 .header-search, .header-type-8 .header_cart {
    padding: 0px 14px 0px 0px;
    float: none;
    display: inline-block;
    font-size: 17px;
}
.reveal{
  max-width: 100%;
    height: 800px;
    overflow: hidden;
}
@media only screen and (min-width: 1440px){
  .grid__item video {
    margin-bottom: -7px !important;
}
span.showMoney:before {
    left: 65%;
}
}
@media Only screen and (max-width: 1440px){
	.main-content,.wrapper {
    padding: 0px;
}
.header-sticky {
      width: 80%;
}
header.site-header .normal-logo {
    position: absolute;
    max-height: 100%;
    top: 0px;
    left: 40px;
    width: 13%;
}
.header-type-8 .slidedown_section #Togglemodal i {
    padding: 0 0 0px 0px;
    vertical-align: middle;
}
.reveal {
        height: 614px;
   }
}
@media Only screen and (max-width: 1025px){
.menu-tool .container {
    width: 850px !important;
}

.reveal {
       height: 513px;
   }
   .grid__item.wide--one-quarter.post-large--one-quarter.large--one-quarter.medium--one-half.small-grid__item.videosection {
    width: 50%;
    padding: 15px 25px;
}
.rev_slider img, .tp-simpleresponsive img {
     height: 370px;
   }
   div#rev_slider_72_1_wrapper {
    height: 370px !important;
}
.footer-model-3 .footer-logo {
    padding: 0px 0px;
}
}
@media Only screen and (max-width: 769px){
  header.site-header .normal-logo {
    left: 0px;
}
.header-type-8 .menu-icon {
    display: block;
 }
 header.site-header .normal-logo {
    position: absolute;
    max-height: 100%;
    top: 0px;
    left: 40px;
    width: 30%;
}
.header-mobile {
       margin-left: 28px;
  }
  .tp-bullets.hebe.horizontal.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal {
    display: none;
}
.reveal {
    height: 416px;
}
.video-wrapper iframe {
    height: 250px;
 }
 canvas#myCanvas {
    width: 370px;
}
canvas#scaledCanvas {
    width: 370px;
}
}




@media only screen and (max-width: 426px){
  header.site-header .normal-logo {
       max-height: 100%;
}
.header-type-8 .menu-icon {
    padding: 44px 24px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    border-top: 0px solid #e4e4e4;
    border-bottom: 0px solid #e4e4e4;
}
.header-sticky {
    width: 100%;
}
.header-type-8 #shopify-section-header {
    display: flex;
    float: right !important;
}
div#rev_slider_72_1_wrapper {
    height: 238px !important;
}
.rev_slider img, .tp-simpleresponsive img {
     height: 238px;
   }
   .grid-banner-type-9 .grid__item.wide--one-half {
    width: 50%;
}
.grid-banner-type-9 .collection-info {
      padding: 51px 47px;
}
.video-wrapper iframe {
    height: 200px;
}
h2.section-header__title {
    font-size: 34px;
}
.about-us .invisible-large {
       margin: 20px 0 !important;
  }
  .about-us .section-four img {
    padding: 10px 10px;
}
.dimension {
    width: 330px;
    }
    .sideImages>div {
    margin-right: 0px;
}
.sideImages {
      margin-top: 0px; 
}
canvas#myCanvas {
    width: 325px;
}
.grid:after, .grid--rev:after, .grid--full:after, .grid-uniform:after {
    content: none;
    display: none !important;
    clear: none;
}
.about-us .section-four img {
    padding: 10px 10px !important;
  }
  .contact-address .social-icon li {
    margin: 0 3px;
  }
  .post-large--one-half {
    width: 50%;
   }
   .contact-address .contact-number p {
    font-size: 16px;
    padding: 0px 0px !important;
}

}




@media only screen and (max-width: 375px){
.grid__item.wide--one-quarter.post-large--one-quarter.large--one-quarter.medium--one-half.small-grid__item.videosection {
    width: 100%;
    padding: 15px 15px;
}
.video-wrapper iframe {
    height: 250px;
}
.home-product-grid-type-6 .full_width_tab .right li.deal {
     padding: 0 0px 0 0; 
}
.grid-banner-type-9 .collection-info {
    padding: 38px 47px;
 }
 .contact-address .social-icon li {
    margin: 0 -2px;
 }
 .contact-address .contact-number p {
    font-size: 14px;
    padding: 0px 0px !important;
}
}



@media only screen and (max-width: 320px){
  .grid-banner-type-9 .collection-info {
    padding: 25px 25px;
}
.dimension {
    width: 320px;
}
.post-large--one-half {
    width: 100%;
}
.contact-address .social-icon li {
    margin: 0px 5px 5px;
   font-size: 30px;
}
.contact-address .contact-number {
    float: none;
    text-align:center;
   }
.contact-address .contact-number p {
    font-size: 17px;
  }
}