
@font-face {
  font-family: "Gretoon";
  src: url("./fonts/Gretoon.woff") format("woff"); /* Modern Browsers */
  src: url("./fonts/Gretoon.woff2") format("woff2"), /* Modern Browsers */
    url("./fonts/Gretoon.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Gretoon.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Gretoon.ttf") format("truetype"), /* Safari, Android, iOS */   
    url("./fonts/Gretoon.eot"), /* IE9 Compat Modes */
    url("./fonts/Gretoon.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  font-weight: normal;
  font-style: normal;
}